absl-py==1.0.0
alembic==1.0.11
amqp==5.0.9
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
autocfg==0.0.8
Babel==2.9.1
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
buildozer==1.2.0
cachetools==5.0.0
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
click==8.0.3
cloudpickle==2.0.0
cmake==3.22.2
colorama==0.4.4
cycler==0.11.0
Cython==0.29.27
debtcollector==2.4.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
dm-sonnet==1.23
dm-tree==0.1.6
dnspython==2.2.0
docutils==0.17.1
dogpile.cache==1.1.5
entrypoints==0.4
eventlet==0.33.0
executing==0.8.2
extras==1.0.0
fasteners==0.17.3
filelock==3.4.2
fixtures==3.0.0
flatbuffers==2.0
fonttools==4.29.1
futurist==2.4.0
gast==0.5.3
gluon==1.1.0
gluoncv==0.10.4.post4
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
greenlet==1.1.2
grpcio==1.43.0
h5py==3.6.0
idna==2.10
importlib-metadata==4.10.1
ipykernel==6.8.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
iso8601==1.0.2
jedi==0.18.1
Jinja2==3.0.3
jnius==1.1.0
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
keystoneauth1==4.4.0
keystonemiddleware==9.3.0
Kivy==2.0.0
Kivy-Garden==0.1.4
kivymd==0.104.2
kiwisolver==1.3.2
kombu==5.2.3
libclang==13.0.0
logutils==0.3.5
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
msgpack==1.0.3
mxnet==1.9.0
mypy-extensions==0.4.3
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
netaddr==0.8.0
netifaces==0.11.0
notebook==6.4.8
numpy==1.21.0
oauthlib==3.2.0
onnx==1.10.2
onnx-simplifier==0.3.6
-e git+ssh://git@github.com/onnx/onnx-tensorflow.git@3f87e6235c96f2f66e523d95dc35ff4802862231#egg=onnx_tf
onnx2keras==0.0.24
onnxoptimizer==0.2.6
onnxruntime==1.10.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
os-service-types==1.7.0
oslo.cache==2.10.0
oslo.concurrency==4.5.0
oslo.config==8.7.1
oslo.context==4.0.0
oslo.db==7.0.0
oslo.i18n==5.1.0
oslo.log==4.6.1
oslo.messaging==12.12.0
oslo.metrics==0.4.0
oslo.middleware==4.5.0
oslo.policy==3.10.1
oslo.serialization==4.2.0
oslo.service==2.8.0
oslo.utils==4.12.1
oslo.versionedobjects==2.5.0
packaging==21.3
pandas==1.4.0
pandocfilters==1.5.0
parso==0.8.3
Paste==3.5.0
PasteDeploy==2.1.1
pathspec==0.9.0
pbr==5.8.0
pecan==1.4.1
pep517==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pkg_resources==0.0.0
platformdirs==2.4.1
plyer==2.0.0
portalocker==2.3.2
prometheus-client==0.13.1
prompt-toolkit==3.0.26
protobuf==3.19.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycadf==3.1.1
pycparser==2.21
pygame==2.0.1
Pygments==2.9.0
pyinotify==0.9.6
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-editor==1.0.4
python-etcd==0.4.5
python-keystoneclient==4.4.0
pytoml==0.1.21
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
repoze.lru==0.7
requests==2.25.1
requests-oauthlib==1.3.1
rfc3986==2.0.0
Routes==2.5.1
rsa==4.8
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
sh==1.14.2
simplegeneric==0.8.1
six==1.16.0
sklearn==0.0
soupsieve==2.3.1
SQLAlchemy==1.0.19
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
stack-data==0.1.4
statsd==3.3.0
stevedore==3.5.0
Tempita==0.5.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-addons==0.15.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-probability==0.15.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
tf-estimator-nightly==2.8.0.dev2021122109
tfp-nightly==0.16.0.dev20220203
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typeguard==2.13.3
typing_extensions==4.0.1
urllib3==1.26.6
vine==5.0.0
virtualenv==20.13.1
waitress==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
WebTest==3.0.0
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
WSME==0.11.0
yacs==0.1.8
yappi==1.3.3
zipp==3.7.0
